@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

.item__text {
    font-family: 'Merienda';
    font-size: 2.3438vw;
    color: #ffffff;
    text-decoration: none;
}

.item__text:hover {
    color: #6E6E6E;
}