<div class="contenido">
    <div class="contenedor">
        <h3 class="info">Información del perfil
            <a href="/home-user"><img src="./assets/img/flecha-atras.png" id="flecha-atras" alt="flecha-atras"></a>
        </h3>
        <form [formGroup]="formulario">
            <div class="infoBasica">
                <div class="row">
                    <div class="col-lg-6">
                        <label for="txtNombre">Nombre</label>
                        <input id="txtNombre" type="text" [readOnly]="soloLectura" class="dato" formControlName="nombre" />
                    </div>
                    <div class="col-lg-6">
                        <label for="txtCorreo">Correo electrónico</label>
                        <input id="txtCorreo" type="text" [readOnly]="true" class="dato" formControlName="email" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="txtTelefono">Teléfono</label>
                                <input id="txtTelefono" type="text" [readOnly]="soloLectura" class="dato" formControlName="telefono" />
                            </div>
                            <div class="col-lg-6">
                                <label for="txtCiudad">Ciudad</label>
                                <input id="txtCiudad" type="text" [readOnly]="soloLectura" class="dato" formControlName="ciudad" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <label for="txtGenero">Género</label>
                        <div [ngClass]="visible">
                            <input id="txtGenero" type="text" [readOnly]="soloLectura" class="dato" formControlName="genero" />
                        </div>
                        
                        <div class="position-relative" [ngClass]="invisible">
                            <div (click)="desplegarCombo()" class="position-absolute" [ngClass]="cboRegistro">
                                <span>{{cboGenero}}</span>
                                <img src="./assets/img/flecha-select.png" alt="flecha" id="flecha-abajo" />
                            </div> 
                            <div [ngClass]="cboRegistroDesplegado" class="position-absolute" (click)="plegarCombo()">
                                <div class="primeraFila">
                                    <span id="registrarseComo">Género</span>
                                    <img src="./assets/img/flecha-arriba.png" alt="flecha" id="flecha-arriba" />
                                </div>
                                <p class="opcion" (click)="cboGenero='Masculino'">Masculino</p>
                                <p class="opcion" (click)="cboGenero='Femenino'">Femenino</p>
                                <p class="opcion" (click)="cboGenero='Otro'">Otro</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-6">
                                <button [ngClass]="visible" class="btn-modificar" (click)="habilitarCampos()">Modificar perfil</button>
                            </div>
                            <div class="col-lg-6">
                                <button [ngClass]="visible" class="btn-eliminar" (click)="eliminarUsuario()" >Eliminar perfil</button>
                            </div>
                            <div class="col-lg-6">
                                <button [ngClass]="invisible" class="btn-guardar" (click)="actualizarUsuario()">Guardar</button>
                            </div>
                            <div class="col-lg-6">
                                <button [ngClass]="invisible" (click)="bloquearCampos()" class="btn-cancelar">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label for="txtPerfil">Perfil</label>
                        <input id="txtPerfil" type="text" [readOnly]="soloLectura" class="dato" formControlName="perfil" />
                    </div>
                </div>
            </div>    
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="tblTitulo">Estudios</h3>
                    <table>  
                        <thead>
                            <th></th>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let estudio of estudios">
                                <td class="institucion">{{estudio.institucion}}</td>
                                <td class="titulo">{{estudio.titulo}}</td>
                                <td>{{estudio.anio}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-6">
                    <h3 class="tblTitulo">Experiencia laboral</h3>
                    <table>
                        <thead>
                            <th></th>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let experiencia of experiencias">
                                <td class="institucion">{{experiencia.empresa}}</td>
                                <td class="titulo">{{experiencia.cargo}}</td>
                                <td>{{experiencia.anios}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form> 
    </div>
</div>
