.contenido{
    background-color: #B3B3B6;
    padding-bottom: 45px;
    padding-top: 35px;
}

.contenedor{
    width: 90%;
    min-width: 420px;
    background-color: white;
    margin-inline: auto;
    padding-block: 30px;
    padding-inline: 40px;
}

.dato{
    width: 100%;
    padding-block: 5px;
    padding-inline: 20px;
    font-size: 24px;
    background-color: #6E6E6E;
    color: white;
    border-color: #A7ABB1;
    border-style: solid;
    border-width: 3px;
    margin-bottom: 12px;
}

#txtFunciones{
    min-height: 190px;
}

.info{
    color: #1561F8;
    margin-bottom: 20px;
    font-size: 30px;
}

label{
    float: left;
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
}

#flecha-atras{
    float: right;
}

button{
    width: 80%;
    padding-block: 5px;
    font-size: 30px;
    color: white;
    border-width: 0px;
    margin-top: 10px;
}

.btn-azul, .btn-guardar{
    background-color: #1561F8;
}

.btn-eliminar{
    background-color: #fc2929;
}
.btn-eliminar:hover{
    background-color: #FE4B4B;
}

.btn-azul:hover, .btn-guardar:hover{
    background-color: #5d93ff;
}

#btnModificar, .btn-guardar{
    margin-top: 50px;
}

.btn-cancelar{
    background-color: #7f8185;
}
.btn-cancelar:hover{
    background-color: #A7ABB1;
}

.ocultar{
    display: none;
}