<div class="contenido">
    <div class="contenedor">
        <h3 class="iniciar-sesion">INICIAR SESIÓN</h3>
        <input type="text" placeholder="Correo electrónico" class="dato" />
        <input type="password" placeholder="Contraseña" class="dato" />
        <div style="width: 23%; margin: auto; min-width: 300px;">
            <button class="btn-iniciar">Iniciar sesión</button>
        </div>
        <h4 class="registrarse">
            ¿No tienes cuenta? <a href="/register-option">Regístrate</a>
        </h4>
    </div>
</div>
