
.contenido{
    background-color: #B3B3B6;
    padding-block: 45px;
}

.contenedor{
    width: 55%;
    min-width: 400px;
    background-color: white;
    margin: auto;
    padding-block: 10px;
    text-align: center;
}

.iniciar-sesion{
    color: #1561F8;
    text-align: center;
    margin-block: 20px;
    font-size: 30px;
}

.dato{
    width: 90%;
    padding-block: 10px;
    padding-inline: 20px;
    font-size: 20px;
    background-color: #6E6E6E;
    color: white;
    border-color: #1561F8;
    border-style: solid;
    border-width: 3px;
    margin-block: 12px;
}
::placeholder{
    color: #B3B3B6;
}

.btn-iniciar{
    width: 100%;
    padding-block: 8px;
    font-size: 25px;
    background-color: #1561F8;
    color: white;
    border-width: 0px;
    margin-block: 20px;
}

.btn-iniciar:hover{
    background-color: #5d93ff;
}

.registrarse{
    font-size: 20px;
    padding-block: 15px;
}

.registrarse a {
    color: #1561F8;
}

a{
    text-decoration: none;
    color: inherit;
}

.cboLogin{
    background-color: #1561F8;
    width: 70%;
    color: white;
    border-width: 0;
    font-size: clamp(17px, 2.3438vw, 100vw);
    padding-inline: 35px;
    padding-block: 25px;
    margin-top: 55px;
    margin-inline: auto;
    cursor: pointer;
}

.cboLoginDesplegado{
    background-color: #1561F8;
    width: 70%;
    color: white;
    border-width: 0;
    font-size: clamp(17px, 2.3438vw, 100vw);
    margin-top: 55px;
    margin-inline: auto;
}

.cboLogin:hover{
    background-color: #1561f88c;
}

#flecha-abajo, #flecha-arriba{
    float: right;
    margin-top: 4%;
    width: 9%;
}

.opcion, .primeraFila{
    padding-top: 20px;
    cursor: pointer;
    margin: 0;
    padding-inline: 35px;
    padding-block: 25px;
}

.opcion{
    border-top-width: 1px;
    border-top-color: #8fb4ff8c;
    border-top-style: solid;
}

.opcion:hover{
    background-color: #82acff8e;
}

.ocultar{
    display: none;
}

.dvErrorGeneral {
    text-align: center;
}

.text-error {
    color: red;
}