:host {
    display: inline-block;
}

.nav__logo {
    color: #ffffff;
    font-size: clamp(29px, 3.9063vw, 100vw);
    font-weight: 100;
}

.footer__text {
    color: #ffffff;
    font-size: clamp(17px, 2.3428vw, 100vw);
    font-weight: 100;
}

.home__text {
    color: #8C8C8C;
    font-size: clamp(23px, 3.125vw, 100vw);
    font-weight: 100;
}

.home__user-text {
    font-size: 30px;
    color: #06080B;
    font-weight: 100;
}