@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

.nav__logo {
    font-family: 'Merienda';
    color: #ffffff;
    font-size: 3.9063vw;
    font-weight: 300;
}

.footer__text {
    font-family: 'Merienda';
    color: #ffffff;
    font-size: 2.3428vw;
}