<div class="contenedor">
    <a href="/home-employer"><img src="./assets/img/flecha-atras.png" alt="flecha-atras" id="flecha-atras"></a>
    <table>
        <thead>
            <th class="th1">Nombre de la oferta</th>
            <th class="th2">Ciudad</th>
            <th>Candidatos</th>
        </thead>
        <tbody>
            <tr>
                <td class="td1">Oferta 1</td>
                <td class="td2">OMedellín</td>
                <td>10</td>
            </tr>
            <tr>
                <td class="td1">Oferta 1</td>
                <td class="td2">OMedellín</td>
                <td>10</td>
            </tr>
            <tr>
                <td class="td1">Oferta 1</td>
                <td class="td2">OMedellín</td>
                <td>10</td>
            </tr>
            <tr>
                <td class="td1">Oferta 1</td>
                <td class="td2">OMedellín</td>
                <td>10</td>
            </tr>
            <tr>
                <td class="td1">Oferta 1</td>
                <td class="td2">OMedellín</td>
                <td>10</td>
            </tr>
        </tbody>
    </table>
    <h3 class="promedio">Promedio de candidatos: <span class="valorPromedio">10</span></h3>
</div>
