<div class="contenedor">
    <table>
        <thead>
            <th>Nombre</th>
            <th>Ciudad</th>
            <th>Salario
            <a href="/home-employer"><img src="./assets/img/flecha-atras.png" alt="flecha-atras" class="flecha-atras" /></a>

            </th>
        </thead>
        <tbody>
            <tr (click)="redirigir()">
                <td class="nombre">Nombre</td>
                <td class="ciudad">Ciudad</td>
                <td>$ 0</td>
            </tr>
            <tr (click)="redirigir()">
                <td class="nombre">Nombre</td>
                <td class="ciudad">Ciudad</td>
                <td>$ 0</td>
            </tr>
            <tr (click)="redirigir()">
                <td class="nombre">Nombre</td>
                <td class="ciudad">Ciudad</td>
                <td>$ 0</td>
            </tr>
        </tbody>
    </table>
</div>