.button__one {
    background-color: #1561F8;
    border: none;
    width: 30.7031vw;
    min-width: 227px;
    height: 6.875vw;
    min-height: 51px;
    color: #ffffff;
    font-family: 'Merienda';
    font-size: clamp(17px, 2.3436vw, 100vw);
    font-weight: 100;
}

.button__one:hover {
    background-color: #8C8C8C;
    color: #1561F8;
}