<div class="contenido">
    <div class="contenedor">
        <h3 class="registrarse">REGISTRARSE</h3>
        <div *ngIf="mensage !== ''" class="dvErrorGeneral">
            <p class="text-error">{{mensage}}</p>
        </div>
        <form (ngSubmit)="onSubmit()" #form="ngForm">
            <div class="row">
                <div class="col-lg-6">
                    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="dvError">
                        <small *ngIf="nombre.errors?.['required']" class="text-danger">Este campo es requerido</small>
                    </div>
                    <input type="text" placeholder="Nombre" class="dato"
                    name="nombre" [(ngModel)]="formData.nombre"
                    required #nombre="ngModel"/>
                </div>
                <div class="col-lg-3">
                    <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="dvError">
                        <small *ngIf="telefono.errors?.['required']" class="text-danger">Este campo es requerido</small>
                    </div>
                    <input type="text" placeholder="Teléfono" class="dato"
                    name="telefono" [(ngModel)]="formData.telefono"
                    required #telefono="ngModel"/>
                </div>
                <div class="col-lg-3">
                    <div *ngIf="ciudad.invalid && (ciudad.dirty || ciudad.touched)" class="dvError">
                        <small *ngIf="ciudad.errors?.['required']" class="text-danger">Este campo es requerido</small>
                    </div>
                    <input type="text" placeholder="Ciudad" class="dato" 
                    name="ciudad" [(ngModel)]="formData.ciudad"
                    required #ciudad="ngModel"/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 campo">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="dvError">
                        <small *ngIf="email.errors?.['required']" class="text-danger">Este campo es requerido</small>
                    </div>
                    <input type="text" placeholder="Correo electrónico" class="dato" 
                    name="email" [(ngModel)]="formData.email"
                    required #email="ngModel"/>
                </div>
                <div class="col-lg-3 campo">
                    <div *ngIf="contrasenia.invalid && (contrasenia.dirty || contrasenia.touched)" class="dvError">
                        <small *ngIf="contrasenia.errors?.['required']" class="text-danger">Este campo es requerido</small>
                    </div>
                    <input type="password" placeholder="Contraseña" class="dato" 
                    name="contrasenia" [(ngModel)]="formData.contrasenia"
                    required #contrasenia="ngModel"/>
                </div>
                <div class="col-lg-3 position-relative">
                    <div (click)="desplegarCombo()" [ngClass]="cboRegistro">
                        <span>{{genero}}</span>
                        <img src="./assets/img/flecha-select.png" alt="flecha" id="flecha-abajo" />
                    </div> 
                    <div [ngClass]="cboRegistroDesplegado" class="position-absolute" (click)="plegarCombo()">
                        <div class="primeraFila">
                            <span id="registrarseComo">Género</span>
                            <img src="./assets/img/flecha-arriba.png" alt="flecha" id="flecha-arriba" />
                        </div>
                        <p class="opcion" (click)="selectGenero('Masculino')">Masculino</p>
                        <p class="opcion" (click)="selectGenero('Femenino')">Femenino</p>
                        <p class="opcion" (click)="selectGenero('Otro')">Otro</p>
                    </div>    
                </div>
            </div>
            <div class="row">
                <div *ngIf="perfil.invalid && (perfil.dirty || perfil.touched)" class="dvError">
                    <small *ngIf="perfil.errors?.['required']" class="text-danger">Este campo es requerido</small>
                </div>
                <div class="col-12">
                    <textarea class="form-control dato" placeholder="Pefil" name="perfil" 
                    [(ngModel)]="formData.perfil" required #perfil="ngModel"></textarea>
                </div>         
            </div>
            <div class="row my-2">
                <div class="col-lg-6">
                    <h3>Estudios</h3>
                    <div>
                        <div class="col-lg-12">
                            <input type="text" placeholder="Nombre de la institución" class="dato" 
                            name="institucion" [(ngModel)]="estudio.institucion"
                            #institucion="ngModel"/>
                        </div>
                        <div class="col-lg-12">
                            <input type="text" placeholder="Título" class="dato" 
                            name="titulo" [(ngModel)]="estudio.titulo"
                            #titulo="ngModel"/>
                        </div>
                        <div style="display: flex; justify-content: space-between;
                        align-items: center;">
                            <div class="tiempo">
                                <input type="number" placeholder="Tiempo (años)" class="dato" id="txtTiempo" 
                                name="tiempo" [(ngModel)]="estudio.tiempo"
                                #tiempo="ngModel"/>
                            </div>
                            <div class="estudio">
                                <button type="button" class="btn-registro" id="txtBtnAgregarEstudio"
                                (click)="agregarEstudio()">
                                Agregar estudio
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3>Experiencia laboral</h3>
                    <div>
                        <div class="col-lg-12">
                            <input type="text" placeholder="Nombre de la empresa" class="dato" 
                            name="empresa" [(ngModel)]="experiencia.empresa"
                            #empresa="ngModel"/>
                        </div>
                        <div class="col-lg-12">
                            <input type="text" placeholder="Cargo" class="dato" 
                            name="cargo" [(ngModel)]="experiencia.cargo"
                            #cargo="ngModel"/>
                        </div>
                        <div style="display: flex; justify-content: space-between;
                        align-items: center;">
                            <div class="tiempo">
                                <input type="text" placeholder="Tiempo (años)" class="dato" id="txtTiempoExperiencia" 
                                name="tiempo" [(ngModel)]="experiencia.tiempo"
                                #tiempo="ngModel"/>
                            </div>
                            <div class="estudio">
                                <button type="button" class="btn-registro"
                                id="txtBtnAgregarExperiencia" (click)="agregarExperiencia()">
                                Agregar experiencia
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div style="width: 23%; margin: auto; min-width: 300px;">
                <button class="btn-registro btn-xl" [disabled]="form.invalid">Registrarme</button>
            </div>
        </form>   
    </div>
</div>