/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.cdnfonts.com/css/merienda');

body{
    margin: 0;
    font-family: 'Merienda', sans-serif;
}

body {
    margin: 0;
}