<div class="contenedor">
    <div class="contenido">
        <h2 class="titulo">Seleccione un rango de fechas 
            <a href="/home-employer"><img src="./assets/img/flecha-atras.png" alt="flecha-atras" id="flecha-atras"></a>
        </h2>
        <div class="dvFecha">
            <input type="date" name="fechaInicio" class="fecha" />
            <div class="raya"></div>
        </div>
        <h2>a</h2>
        <div class="dvFecha">
            <input type="date" name="fechaFin" class="fecha" />
            <div class="raya"></div>
        </div>
        <a href="/report-dates"><button class="btn-informes">Ver informe</button></a>
    </div>
</div>