.navbar {
    height: 11.4063vw;
    min-height: 85px;
    background-color: #1561F8;
    display: flex;
    justify-content: space-between;
}

.logo__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.4062vw;
    margin: 1vw 0 1vw .625vw;
}

.logo__img {
    width: 12.3438vw;
    height: 8.2031vw;
    min-width: 91px;
    min-height: 61px;
}

.items__container {
    margin-right: 1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5vw;
}

.line__vertical {
    height: 6.875vw;
}