<div class="contenedor">
    <table>
        <thead>
            <th class="thNombre">Nombre</th>
            <th>Ciudad
                <a href="/home-employer"><img src="./assets/img/flecha-atras.png" alt="flecha-atras" class="flecha-atras" /></a>
            </th>
        </thead>
        <tbody>
            <tr (click)="redirigirOferta(oferta.id)" *ngFor="let oferta of listaOfertas">
                <td class="nombre">{{oferta.nombre}}</td>
                <td>{{oferta.ciudad}}
                    <a href="/offer-report"><button class="btn-estadisticas">Ver estadísticas</button></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>